debug.py
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/vip_ivp.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
dist/vip_ivp-0.0.1-py3-none-any.whl
dist/vip_ivp-0.0.1.tar.gz
src/vip_ivp/__pycache__/__init__.cpython-310.pyc
src/vip_ivp/__pycache__/utils.cpython-310.pyc
src/vip_ivp.egg-info/dependency_links.txt
src/vip_ivp.egg-info/PKG-INFO
src/vip_ivp.egg-info/requires.txt
src/vip_ivp.egg-info/SOURCES.txt
src/vip_ivp.egg-info/top_level.txt
tests/__pycache__/test_invalid_systems.cpython-310-pytest-8.3.3.pyc
tests/__pycache__/test_known_solutions.cpython-310-pytest-8.3.3.pyc
tests/__pycache__/test_valid_systems.cpython-310-pytest-8.3.3.pyc
.idea/.gitignore
/doc/Sphinx-docs/build/doctrees/environment.pickle
/doc/Sphinx-docs/build/doctrees/index.doctree
/doc/Sphinx-docs/build/doctrees/vip_ivp.doctree
/dist/vip_ivp-0.2.0.tar.gz
/dist/vip_ivp-0.2.0-py3-none-any.whl
